
/* Selector universal  */
*{
padding: 0; /* espacio que se va a llenar */
margin: 0;

}


/* selector id */
#contenedor{
    width: 1200px;
    height: 1000px;
        background-color: antiquewhite;
        max-width: 0 auto;
        margin: 0 auto;
}

#Encabezado{
    height: 15%;
    background-color: seagreen;
    margin: 0em auto;
    color: rgb(255, 255, 255);
    
    
    
}

#menu{

    height: 6%;
    background-color: darkgrey;
    text-align: center;
    margin: 1em auto;

    

}

#contenido{
    height: 70%;
    width: 62%;
    background-color: goldenrod;
    margin: 1em auto;
    float: left;

}

#articulo1{
    display: block;
    text-align: center;
    
    }

#articulo2{
    display: block;
    text-align: center;
}

#fueraSeccion{
    height: 70%;
    width: 36%;
    background-color: goldenrod;
    margin: 1em auto;
    float: right;

}

#pie{       
    height: 2%;
    width: 100%;
    background-color: darkgrey;
    margin: 1em auto;
    float:left;
    text-align: center;
    
}



/* selector de class */

.texto{
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size:100%;
}

.encabezado_articulo1{
    text-align: center;
    background-color: seagreenS;
    color: white;
    margin: auto 1em;
}

.imagenes{
    display: block;
    margin: auto;
    border-radius: 4px;
    padding: 5px;
    width: 150px;

}

.logo{
    display: flex;

}

.logoimg{
    height: 150px;
    margin-right: 350px;

}



/* Selector de etiqueta html */

ul{
    text-align: center;
       
}

li{
    
    display: inline;
    text-align: center;
    padding-left: 10px;
    padding-right: 6px;
    
    
}


a{
    text-decoration: none;
    color:greenyellow;
}